
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Page</title>
</head>
<body>
    <div>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <!-- <input type="file" name="doc"/> -->
        <label for="name">name</label>
        <input type="text" name="name"/>
        <label for="email">email</label>
        <input type="text" name="email">
        <label for="avatar" >Select Image</label>
        <input type="file" name="avatar" />
        <button type="submit">submit</button>
    </form>
    </div>
</body>
</html>