<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uploads page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gradient-to-r from-blue-400 to-purple-500 flex items-center justify-center h-screen">
    <div class="bg-white p-8 rounded-lg shadow-lg">
        <h1 class="text-3xl font-bold text-center text-gray-800 mb-4">Success!</h1>
        <p class="text-lg text-center text-gray-700">The form has been successfully submitted.</p>
        <img class="w-40 justify-center items-center" id= "image" src=<%= imageRoute %> alt="Upload success" class="mx-auto mt-6 rounded-full">
    </div>
   
        
</body>
</html>
